body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:  #2e2e2e;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #f6d052;
}
.meal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.meal-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.meal-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.meal-info {
  padding: 20px;
}
.meal-title {
  font-size: 1.2em;
  margin: 0 0 10px;
}
.meal-price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.price-option {
  text-align: center;
}
.price {
  font-weight: bold;
  color: #4CAF50;
}

.link{
  text-decoration: none;
  color: blue;
}
.link:hover{
  color:red;
}
.meal-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.meal-card:hover {
  transform: translateY(-10px); /* Moves the card up slightly */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds a deeper shadow */
  background-color: #ffa857; /* Premium gold-like background */
}

.meal-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.meal-card2 {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
}
.meal-info2{
  padding: 0 -100px 0 -100px;
}